@import "./../colors";

.createGame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background-color: $background;
  h1 {
    margin: 1rem;
    font-size: 1.25rem;
    color: $brightest;
    text-align: center;
  }
}

.gameRange {
  margin: 1rem;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 1rem;
  }
}
