@import "./../colors";

.createGame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: $background;
  h1 {
    font-size: 1.25rem;
    color: $brightest;
    text-align: center;
  }
}

.gameRange {
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 1rem;
  }
  button {
    color: $text;
    width: 75%;
    padding: 0.75rem 2rem;
    margin: 1rem;
    font-size: 0.75rem;
    border: 2px dashed $text;
    border-radius: 1rem;
    background-color: transparent;
  }
}
.player {
  color: $text;
  text-align: center;
  padding: 0.75rem 2rem;
  margin: 0.5rem;
  font-size: 0.75rem;
  border: 2px solid $text;
  border-radius: 1rem;
  background-color: transparent;
}
