.createGame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background-color: #0d0d0d;
}
.createGame h1 {
  margin: 1rem;
  font-size: 1.25rem;
  color: #f2f2f2;
  text-align: center;
}

.gameRange {
  margin: 1rem;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.players p {
  padding: 1rem;
}
.players button {
  color: #9fa2a6;
  width: 75%;
  padding: 0.75rem 2rem;
  margin: 1rem;
  font-size: 0.75rem;
  border: 2px dashed #9fa2a6;
  border-radius: 1rem;
  background-color: transparent;
}

.player {
  color: #9fa2a6;
  text-align: center;
  padding: 0.75rem 2rem;
  margin: 0.5rem;
  font-size: 0.75rem;
  border: 2px solid #9fa2a6;
  border-radius: 1rem;
  background-color: transparent;
}

.startGame {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 1rem;
}