/* Global Styles */
*,
*:before,
*:after {
  overflow-x: hidden;
  box-sizing: inherit;
  margin: 0;
  flex-shrink: 0;
}
input {
  outline: none;
  border: none;
}

:root {
  font-size: 16px;
  color: #9fa2a6;
  font-family: "Press Start 2P", cursive;
  user-select: none;
}
